<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome on your first page</title>
  <link rel="stylesheet" type="text/css" href="style.css" media="all" />
</head>
<body>

  <div class="container">
      <h1>Main title</h1>
      <p>Lorem ipusm dolor sit amet ...</p>
      <p><a href="about.html">We are us ?</a></p>
      <p><button id="trigger-confirm" class="btn">Click me !</button></p>
  </div>
  
  <div id="output">

    
  </div>
  <script type="text/javascript" src="client.js"></script>

</body>
</html>