<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>About us - Travel Tours</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
</head>
<body>
    <div class="background">
        <div class="overlay"></div>
    </div>
    <div class="wrapper">
      <nav>
          <ul>
            <li>
              <a href="/">
                Home
              </a>
            </li>
            <li>
              <a href="/about.html">
                About
              </a>
            </li>
            <li>
              <a href="/destinations.html">
                Destinations
              </a>
            </li>
            <li>
              <a href="/contact.html">
                Contact
              </a>
            </li>
          </ul>
        </nav>
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac arcu interdum, tincidunt orci et, lobortis sapien. Sed bibendum elementum erat sed pulvinar. Suspendisse potenti. Fusce id tortor diam. Vivamus egestas velit eros, eget blandit erat consequat quis. Nunc blandit, sapien eu auctor lobortis, metus neque dapibus ex, vel feugiat nulla tortor eget ex. Donec leo ex, accumsan nec condimentum at, dignissim sed lectus. Etiam commodo, leo non molestie tempus, sem mi laoreet quam, nec maximus ante metus at nisl. Fusce laoreet, lorem nec scelerisque rutrum, ex lectus blandit lorem, ac auctor arcu nunc a velit. Curabitur vitae dui sed massa finibus dictum.</p>

    </div> 
</body>
</html>