<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Retrieve POST data</title>
</head>
<body>

  <div class="container">
    <h1>Retrieve POST data</h1>  
    <form action="" method="POST">
      <input type="text" name="nickname" placeholder="Nickname" />
      <input type="password" name="password" placeholder="Password" />
      <button type="submit">Send</button>
    </form>
  </div>

</body>
</html>